Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -zircon-*,

  -cppcoreguidelines-avoid-magic-numbers,
  -misc-non-private-member-variables-in-classes,
  -portability-avoid-pragma-once,
  -readability-identifier-length,
  -readability-magic-numbers,
  -misc-include-cleaner,

WarningsAsErrors: '*'
